#content {
    position: relative;
    height: 450px;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    perspective: 400px;
}

#cube {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;

    -webkit-transform: translateZ(100px);
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotate 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-transform: translateZ(100px);
    -moz-transform-style: preserve-3d;
    -moz-animation: rotate 15s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    transform: translateZ(100px);
    transform-style: preserve-3d;
    animation: rotate 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#cube .side {
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    background-size: contain;
}

#cube .side:nth-child(1) {
    background: url('../img/cube1.png') no-repeat center;
    -webkit-transform: rotateY(0deg) translateZ(99px);
    -moz-transform: rotateY(0deg) translateZ(99px);
    transform: rotateY(0deg) translateZ(99px);
}
#cube .side:nth-child(2) {
    background: url('../img/cube2.png') no-repeat center;
    -webkit-transform: rotateX(180deg) translateZ( 99px );
    -moz-transform: rotateX(180deg) translateZ( 99px );
    transform: rotateX(180deg) translateZ( 99px );
}
#cube .side:nth-child(3) {
    background: url('../img/cube3.png') no-repeat center;
    -webkit-transform: rotateY(90deg) translateZ( 99px );
    -moz-transform: rotateY(90deg) translateZ( 99px );
    transform: rotateY(90deg) translateZ( 99px );
}
#cube .side:nth-child(4) {
    background: url('../img/cube4.png') no-repeat center;
    -webkit-transform: rotateY(-90deg) translateZ( 99px );
    -moz-transform: rotateY(-90deg) translateZ( 99px );
    transform: rotateY(-90deg) translateZ( 99px );
}
#cube .side:nth-child(5) {
    background: url('../img/cube5.png') no-repeat center;
    -webkit-transform: rotateX(90deg) translateZ( 99px );
    -moz-transform: rotateX(90deg) translateZ( 99px );
    transform: rotateX(90deg) translateZ( 99px );
}
#cube .side:nth-child(6) {
    background: url('../img/cube6.png') no-repeat center;
    -webkit-transform: rotateX(-90deg) translateZ( 99px );
    -moz-transform: rotateX(-90deg) translateZ( 99px );
    transform: rotateX(-90deg) translateZ( 99px );
}

@-webkit-keyframes rotate {
    0% { -webkit-transform: rotateX(0) rotateY(0); }
    25% { -webkit-transform: rotateX(-90) rotateY(90); }
    50% {  -webkit-transform: rotateX(-180deg) rotateY(180deg); }
    75% {  -webkit-transform: rotateX(-270deg) rotateY(270deg); }
    100% { -webkit-transform: rotateX(-360deg) rotateY(360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform: rotateX(0) rotateY(0); }
    25% { -moz-transform: rotateX(-90) rotateY(90); }
    50% {  -moz-transform: rotateX(-180deg) rotateY(180deg); }
    75% {  -moz-transform: rotateX(-270deg) rotateY(270deg); }
    100% { -moz-transform: rotateX(-360deg) rotateY(360deg); }
}